.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form {
  display: grid;
  gap: 10px;
  justify-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
  }

  @media (max-width: 768px) {
    .container-form {
      flex-direction: column;
    }
  }
